@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: sharp-grotesk-19;
  src: url(/fonts/sharp-grotesk-book-19.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: sharp-grotesk-19;
  src: url(/fonts/sharp-grotesk-book-19_italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: sharp-grotesk-19;
  src: url(/fonts/sharp-grotesk-medium-19.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: sharp-grotesk-19;
  src: url(/fonts/sharp-grotesk-medium-19_italic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: sharp-grotesk-19;
  src: url(/fonts/sharp-grotesk-semibold-19.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: sharp-grotesk-19;
  src: url(/fonts/sharp-grotesk-semibold-19_italic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}
h1,
h2,
h3,
h4 {
  font-family: sharp-grotesk-19, sans-serif;
}
.badge,
.prose a.badge {
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  margin: 0.25em;
  padding: 0.25em 0.75em;
  font-size: 0.75em;
  width: auto;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 8px;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  text-decoration: none;
}

a.badge:focus,
a.badge:active {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  outline: 0;
}

.badge .btn {
  border-width: 0 !important;
  margin-left: 0.25rem !important;
  margin-right: -0.25rem !important;
}

.badge-primary,
.prose a.badge-primary {
  --bg-opacity: 1;
  background-color: #6b46c1;
  background-color: rgba(107, 70, 193, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

a.badge-primary:hover,
a.badge-primary:focus {
  --bg-opacity: 1;
  background-color: #44337a;
  background-color: rgba(68, 51, 122, var(--bg-opacity));
}

.badge-secondary,
.prose a.badge-secondary {
  --bg-opacity: 1;
  background-color: #718096;
  background-color: rgba(113, 128, 150, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

a.badge-secondary:hover,
a.badge-secondary:focus {
  --bg-opacity: 1;
  background-color: #2d3748;
  background-color: rgba(45, 55, 72, var(--bg-opacity));
}

.badge-success,
.prose a.badge-success {
  --bg-opacity: 1;
  background-color: #2f855a;
  background-color: rgba(47, 133, 90, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

a.badge-success:hover,
a.badge-success:focus {
  --bg-opacity: 1;
  background-color: #22543d;
  background-color: rgba(34, 84, 61, var(--bg-opacity));
}

.badge-danger,
.prose a.badge-danger {
  --bg-opacity: 1;
  background-color: #c53030;
  background-color: rgba(197, 48, 48, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

a.badge-danger:hover,
a.badge-danger:focus {
  --bg-opacity: 1;
  background-color: #742a2a;
  background-color: rgba(116, 42, 42, var(--bg-opacity));
}

.badge-warning,
.prose a.badge-warning {
  --bg-opacity: 1;
  background-color: #d69e2e;
  background-color: rgba(214, 158, 46, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

a.badge-warning:hover,
a.badge-warning:focus {
  --bg-opacity: 1;
  background-color: #975a16;
  background-color: rgba(151, 90, 22, var(--bg-opacity));
}

.badge-light,
.prose a.badge-light {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

a.badge-light:hover,
a.badge-light:focus {
  --bg-opacity: 1;
  background-color: #cbd5e0;
  background-color: rgba(203, 213, 224, var(--bg-opacity));
}

.badge-dark,
.prose a.badge-dark {
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

a.badge-dark:hover,
a.badge-dark:focus {
  --bg-opacity: 1;
  background-color: #4a5568;
  background-color: rgba(74, 85, 104, var(--bg-opacity));
}

.badge-light-primary,
.prose a.badge-light-primary {
  --bg-opacity: 1;
  background-color: #e9d8fd;
  background-color: rgba(233, 216, 253, var(--bg-opacity));
  --text-opacity: 1;
  color: #6b46c1;
  color: rgba(107, 70, 193, var(--text-opacity));
}

a.badge-light-primary:hover,
a.badge-light-primary:focus {
  --bg-opacity: 1;
  background-color: #d6bcfa;
  background-color: rgba(214, 188, 250, var(--bg-opacity));
  --text-opacity: 1;
  color: #44337a;
  color: rgba(68, 51, 122, var(--text-opacity));
}

.badge-light-secondary,
.prose a.badge-light-secondary {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

a.badge-light-secondary:hover,
a.badge-light-secondary:focus {
  --bg-opacity: 1;
  background-color: #e2e8f0;
  background-color: rgba(226, 232, 240, var(--bg-opacity));
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.badge-light-success,
.prose a.badge-light-success {
  --bg-opacity: 1;
  background-color: #c6f6d5;
  background-color: rgba(198, 246, 213, var(--bg-opacity));
  --text-opacity: 1;
  color: #276749;
  color: rgba(39, 103, 73, var(--text-opacity));
}

a.badge-light-success:hover,
a.badge-light-success:focus {
  --bg-opacity: 1;
  background-color: #9ae6b4;
  background-color: rgba(154, 230, 180, var(--bg-opacity));
  --text-opacity: 1;
  color: #22543d;
  color: rgba(34, 84, 61, var(--text-opacity));
}

.badge-light-danger,
.prose a.badge-light-danger {
  --bg-opacity: 1;
  background-color: #fed7d7;
  background-color: rgba(254, 215, 215, var(--bg-opacity));
  --text-opacity: 1;
  color: #c53030;
  color: rgba(197, 48, 48, var(--text-opacity));
}

a.badge-light-danger:hover,
a.badge-light-danger:focus {
  --bg-opacity: 1;
  background-color: #feb2b2;
  background-color: rgba(254, 178, 178, var(--bg-opacity));
  --text-opacity: 1;
  color: #742a2a;
  color: rgba(116, 42, 42, var(--text-opacity));
}

.badge-light-warning,
.prose a.badge-light-warning {
  --bg-opacity: 1;
  background-color: #fefcbf;
  background-color: rgba(254, 252, 191, var(--bg-opacity));
  --text-opacity: 1;
  color: #975a16;
  color: rgba(151, 90, 22, var(--text-opacity));
}

a.badge-light-warning:hover,
a.badge-light-warning:focus {
  --bg-opacity: 1;
  background-color: #faf089;
  background-color: rgba(250, 240, 137, var(--bg-opacity));
  --text-opacity: 1;
  color: #744210;
  color: rgba(116, 66, 16, var(--text-opacity));
}
.post-card-image {
  width: auto;
  height: 300px;
  margin: 0 0 10px;
  background: #8096a2 no-repeat 50%;
  background-size: cover;
  transition: opacity 0.2s ease-out;
  background-image: url(https://storage.googleapis.com/toddbirchard-cdn/2019/08/why.jpg);
}
.meta {
  margin-top: 20px;
}

.reading-time {
  display: flex;
  align-items: center;
  color: #7e8da3;
  font-size: 1.1em;
  line-height: 1;
}
.meta-item {
  margin-bottom: 8px;
}
.meta-item svg {
  margin-right: 5px;
  color: #7e8da3 !important;
  font-size: 0.95em;
}

.xl\:pt-11 {
  padding-top: 2.75rem;
}
.xl\:pb-20 {
  padding-bottom: 5rem;
}
